<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Twitter Client</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href='https://fonts.googleapis.com/css?family=Work+Sans:400,600' rel='stylesheet' type='text/css'>

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheets/global.css">


</head>
<body>
  <header class="circle--header">
    <div class="bounds">
      <div class="circle--fluid">
        <div class="circle--fluid--cell">
          <a class="logo" href="/">
            <img src="{{mainArr.[6]}}">
            <h1>@{{mainArr.[5]}}</h1>
          </a>
        </div>
        <div class="circle--fluid--cell align-right">
          <nav>
            <ul class="circle--inline">
              <li><a>Sign Out</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </header>

 {{!--  <div class="app--tweet">
    <form>
      <div class="circle--fluid">
        <div class="circle--fluid--cell circle--fluid--primary align-bottom app--tweet--post">
          <div class="app--avatar" style="background-image: url(/images/m-spore.png)">
            <img src="/images/m-spore.png" />
          </div>

          <textarea class="circle--textarea--input" placeholder="What's happening?" id="tweet-textarea"></textarea>
          <strong class="app--tweet--char" id="tweet-char">140</strong>
        </div>
        <div class="circle--fluid--cell align-bottom">
          <button class="button-primary">Tweet</button>
        </div>
      </div>
    </form>
  </div> --}}

  {{{body}}}
</body>
</html>
